.vs/array-test/FileContentIndex/4311cee7-c1e3-49b9-93b1-36cbe42c8bdb.vsidx
.vs/array-test/FileContentIndex/8fb65678-c3b6-4ed2-bafa-12c5ac199c28.vsidx
.vs/array-test/FileContentIndex/a2c462cd-d764-4bd8-8ea0-72fddaab1a43.vsidx
.vs/array-test/FileContentIndex/febf042f-925f-45db-a02c-b67ff9a59ccb.vsidx
.vs/array-test/FileContentIndex/read.lock
.vs/array-test/v17/Browse.VC.db
.vs/array-test/v17/Browse.VC.db-shm
.vs/array-test/v17/Browse.VC.db-wal
.vs/array-test/v17/Browse.VC.opendb
